<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @nombre_usuario %></h1>
    <p>
      Tu video, <%= @nombre_video %>, ha sido convertido y ya se encuentra disponible en el <a href="<%= @link_concurso %>">concurso</a>.
    </p>
    <p>¡Buen día, SmartTools!</p>
  </body>
</html>