
<div class="rbroundbox">
    <div class="rbtop"><div></div></div>
    <div class="rbcontent">

        <div class="content text-center">
            <h2>¡Concursos de videos en segundos!</h2>
            <p>Bienvenidos a SmartTools, el mejor proveedor de concursos para campañas publicitarias. Apoyados en tecnología cloud, te ofrecemos la manera más cómoda de atraer y motivar a tus clientes. </p>
        </div>
        <div id="panel-right"><div id="panel-right-inside">
            <p><span>22. Septiembre 2015</span><br />Entrega de proyectos</p>
            <p><span>22. Septiembre 2015</span><br />Elección de premios.</p>
            <p><span>15. Deciembre 2014</span><br />Como los videos apoyan tu objetivo de negocio</p>
        </div></div>    

    </div>
    <div class="rbbot"><div></div></div>
</div>

<div id="main">
    <h2>3 sencillos pasos</h2>
    <ul>
        <h4>
            <li><a href="/administrators/new">Regístrate</a></li>
            <br>
            <li>Configura tu concurso y agrega tu imagen empresarial</li>
            <br>
            <li>¡Publica el enlace a tu concurso!</li>
        </h4>
    </ul>
    <br>
    <h3>Beneficios</h3>
    <ul>
        <h4>
            <li>Olvida los problemas logísticos y deja la organización de concursos a los expertos</li>
            <br>
            <li>La infraestructura y desarrollo necesario para alcanzar a tus clientes están a tu alcance</li>
            <br>
            <li>Altísima disponibilidad, soporte y mejoras constantes, accesibilidad desde cualquier dispositivo</li>
        </h4>
    </ul>
    <br>
    <h3><p class="text-center">¡SmartTools te da la agilidad que necesitas!</p></h3>
</div>
